@model BugTrackingSys.Areas.Support.Models.UsersRolesViewModel;
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery;

@{
    ViewData["Title"] = "Dashboard Support Page";
    Layout = "~/Areas/Support/Views/Shared/_Layout.cshtml";
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}


<script src="~/lib/daypilot/daypilot-all.min.js" asp-append-version="true"></script>

<!-- BS JavaScript -->

<div class="PageCalendar">
    <div class="main" style="display: flex;">
        <div style="">
            <div id="nav"></div>
        </div>
        <div style="flex-grow: 1; margin-left: 10px;">
            <div class="navi">
                <button id="previous">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                        <use href="../icons/daypilot.svg#minichevron-left-2"></use>
                    </svg>
                </button>
                <button id="today" class="highlighted">Today</button>
                <button id="next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                        <use href="../icons/daypilot.svg#minichevron-right-2"></use>
                    </svg>
                </button>
            </div>
            <div id="dp"></div>
        </div>
    </div>
</div>
<input type="hidden" id="hfCreatedOn" name="CreatedOn" />

<script id="gridScpt" type="text/html">






</script>

<script>

    var CreatedOn = "";



    const datePicker = new DayPilot.Navigator("nav", {
        showMonths: 3,
        skipMonths: 3,
        selectMode: "Month",
        onTimeRangeSelected: args => {
            calendar.startDate = args.day;
            calendar.update();

        }
    });
    datePicker.init();

    function flatten(resources, result) {
        result = result || [];

        resources && resources.forEach(function (r) {
            result.push(r);
            flatten(r.children, result);
        })

        return result;
    }
    function validateTextRequired(args) {
        var value = args.value || "";
        if (value.trim().length === 0) {
            args.valid = false;
            args.message = "Text required";
        }
        else if (value.toLowerCase().includes("a")) {
            args.valid = false;
            args.message = "Text must not contain 'a'.";
        }
        else if (value.includes("2020")) {
            args.valid = false;
            args.message = "2020 not allowed.";
        }
    }

    var resources = [
        { name: "Resource A", id: "A" },
        { name: "Resource B", id: "B" },
        { name: "Resource C", id: "C" },
    ];
    var priorities = [
        { name: "Priority 1", id: 1 },
        { name: "Priority 2", id: 2 },
        { name: "Priority 3", id: 3 },
    ];



    const calendar = new DayPilot.Month("dp", {

        //var today = DayPilot.Date.today();

        //DayPilot.Modal.showHtml(html);

        eventHeight: 30,
        onTimeRangeSelected: async args => {

            //var staff = [{ "id": "group_1", "name": "Resource 1", "expanded": true, "children": [{ "id": "1", "name": "Adam Emerson" }, { "id": "2", "name": "Cheryl Irwin" }] }, { "id": "group_2", "name": "Resource 2", "expanded": true, "children": [{ "id": "3", "name": "Emily Jameson" }, { "id": "4", "name": "Eva Rodriguez" }] }, { "id": "group_3", "name": "Resource 3", "expanded": true, "children": [{ "id": "5", "name": "Eliah Kingston" }] }, { "id": "group_4", "name": "Resource 4", "expanded": true, "children": [{ "id": "6", "name": "Taylor Niles" }] }, { "id": "group_5", "name": "Resource 5", "expanded": true, "children": [{ "id": "7", "name": "Jo Thomas" }] }];
            ////dp.resources.forEach(function (value) { staff.push(value['children']) })

            //const form = [
            //    { name: "Start Date", id: "start", type: 'date', dateFormat: 'd/M/yyyy' },
            //    { name: "End Date", id: "end", type: 'date', dateFormat: 'd/M/yyyy' },
            //    { name: 'Description', id: 'description', type: 'textarea', onValidate: validateTextRequired },
            //    { name: "Employee", id: "resource", options: flatten(staff) },
            //    { name: "Resource", id: "resource", options: resources, onValidate: validateTextRequired },
            //    {
            //        name: "Display as", id: "displayAs", type: "radio", options: [
            //            {
            //                name: "Event", id: "event", children: [
            //                    { name: "Start", id: "start", type: "date" },
            //                    { name: "End", id: "end", type: "date" },
            //                    { name: "Resource", id: "resource", options: resources },
            //                ]
            //            },
            //            {
            //                name: "Task", id: "task", children: [
            //                    { name: "Priority", id: "priority", options: priorities },
            //                ]
            //            }
            //        ]
            //    }
            //];
            ////const modal = await DayPilot.Modal.prompt("Create a new event:", "Event");
            //const data = {
            //    start: args.start,
            //    end: args.start,
            //};

            //const modal = await DayPilot.Modal.form(form, data);





            //var html = document.getElementById("gridScpt").innerHTML;



             var url = args.start;
            //var urlPath = 'https://ticketcoredeploy.tsdemo.co.in/Support/MainHTML?CreatedOn=' + url;

             var urlPath = '';
        if (location.href.indexOf("localhost") != -1) {
            urlPath = 'http://localhost:7022/Support/MainHTML?CreatedOn=' + url;
        }
        else {
            urlPath = 'http://ticketcoredeploy.tsdemo.co.in/Support/MainHTML?CreatedOn=' + url;
        }
            var html = '<iframe id="showskill" style="width: 715px; height: 600px; border: 0" scrolling="no" src="' + urlPath + '"><\/iframe>'
            var modal = new DayPilot.Modal();

            modal.showHtml(html);

            //tinymce.init({ selector: "#project_Description" });

            //calendar.clearSelection();
            //if (modal.canceled) {
            //    return;
            //}
            //const params = {
            //    start: args.start,
            //    end: args.end,
            //    text: modal.result,
            //    resource: args.resource
            //};
            //const { data: result } = await DayPilot.Http.post("/Support/events", params);
            //calendar.events.add(result);

            //window.$("#exampleModal").modal("show");
            //alert(1);
        },
        onEventMove: async args => {
            const params = {
                id: args.e.id(),
                start: args.newStart,
                end: args.newEnd
            };
            const id = args.e.id();
            //await DayPilot.Http.put(`/api/events/${id}/move`, params);
        },
        onEventResize: async args => {
            const params = {
                id: args.e.id(),
                start: args.newStart,
                end: args.newEnd
            };
            const id = args.e.id();
            //await DayPilot.Http.put(`/api/events/${id}/move`, params);
        },
        onBeforeEventRender: args => {

            const color = args.data.color;

            if (color) {
                args.data.backColor = DayPilot.ColorUtil.lighter(color);
                args.data.borderColor = "darker";
                args.data.barColor = color;
            }

            args.data.areas = [
                {
                    top: 5,
                    right: 8,
                    width: 18,
                    height: 18,
                    symbol: "../icons/daypilot.svg#minichevron-down-4",
                    fontColor: "#666",
                    visibility: "Hover",
                    action: "ContextMenu",
                    style: "background-color: #f9f9f9; border: 1px solid #666; cursor:pointer; border-radius: 15px;"
                }
            ];
        },
        contextMenu: new DayPilot.Menu({
            items: [
                {
                    text: "Delete",
                    onClick: async args => {
                        const e = args.source;
                        const id = e.id();
                        //await DayPilot.Http.delete(`/api/events/${id}`);
                        calendar.events.remove(e);
                    }
                },
                {
                    text: "-"
                },
                {
                    text: "Blue",
                    icon: "icon icon-blue",
                    color: "#3c78d8",
                    onClick: args => { app.updateColor(args.source, args.item.color); }
                },
                {
                    text: "Green",
                    icon: "icon icon-green",
                    color: "#6aa84f",
                    onClick: args => { app.updateColor(args.source, args.item.color); }
                },
                {
                    text: "Yellow",
                    icon: "icon icon-yellow",
                    color: "#f1c232",
                    onClick: args => { app.updateColor(args.source, args.item.color); }
                },
                {
                    text: "Red",
                    icon: "icon icon-red",
                    color: "#cc4125",
                    onClick: args => { app.updateColor(args.source, args.item.color); }
                },
                {
                    text: "Auto",
                    color: "",
                    onClick: args => { app.updateColor(args.source, args.item.color); }
                },
            ]
        })
    });
    //calendar.init();


    $(document).ready(function () {
        var url = '@Url.Action("events", "Support")'

        $.ajax({
            type: 'GET',
            url: url,
            contentType: false,
            processData: false,
            cache: false,
            data: '',
            success: function (response) {
                calendar.init();

                const events = response
                calendar.update({
                    events
                });

            },
            error: errorCallback
        });
    });




    function errorCallback() {
        alert("Something went wrong please contact admin.");
    }


    //const events = [
    //    {
    //        start: "2023-03-25T00:00:00",
    //        end: "2023-03-27T00:00:00",
    //        id: "1",
    //        text: "CSVTU Task 1",
    //         color:"bule"
    //    },
    //    {
    //        start: "2023-03-26T12:00:00",
    //        end: "2023-03-27T00:00:00",
    //        id: "2",
    //        text: "CSVTU Task 2",
    //        color:"red"
    //    }
    //];
    //calendar.update({
    //    events
    //});


    const app = {
        elements: {
            previous: document.querySelector("#previous"),
            today: document.querySelector("#today"),
            next: document.querySelector("#next"),
        },
        async updateColor(e, color) {
            const params = {
                color: color
            };
            const id = e.id();
            //await DayPilot.Http.put(`/api/events/${id}/color`, params);
            e.data.color = color;
            calendar.events.update(e);
        },
        init() {
            app.elements.previous.addEventListener("click", () => {
                datePicker.select(datePicker.selectionDay.addMonths(-1));
            });

            app.elements.today.addEventListener("click", () => {
                datePicker.select(DayPilot.Date.today());
            });

            app.elements.next.addEventListener("click", () => {
                datePicker.select(datePicker.selectionDay.addMonths(1));
            });

            //calendar.events.load("/api/events");

        }
    };

    app.init();


</script>


<style>
    .month_default_event {
        overflow: hidden;
        border-radius: 15px;
    }

    .month_default_event_inner {
        background: #888888;
        border-color: #888888;
        color: #fff;
        padding-left: 35px;
        border-radius: 15px;
    }

    .month_default_event_bar {
        left: 0px;
        width: 30px;
    }

    .month_default_event_bar_inner {
        background: #636363;
        border-radius: 15px;
        width: 30px;
    }

    /* context menu icons */
    .icon:before {
        position: absolute;
        left: 0px;
        margin-left: 8px;
        margin-top: 3px;
        width: 14px;
        height: 14px;
        content: '';
    }

    .icon-blue:before {
        background-color: #3c78d8;
    }

    .icon-green:before {
        background-color: #6aa84f;
    }

    .icon-yellow:before {
        background-color: #f1c232;
    }

    .icon-red:before {
        background-color: #cc4125;
    }

</style>

