<div class="navbar logo">
    <div class="hamburger">
        <i class="fas fa-bars"> </i>
    </div>
    <img src="~/images/giphy.gif" width="50px" height="50px" />
    <div class="logo">
        <a href="#">Ticket Tracking System  By:-Techsum IT Soution Pvt. LTD.</a>
    </div>
</div>