@{
    ViewData["Title"] = "Home Page";
}
<style>
    .search-background {
        /* Ensure that the relative URL used is from your CSS file to the target image! */
        background: url('/images/leedMang.jpg');
        background-size: 100% 95%;
        background-repeat: no-repeat;
        object-fit: cover;
        position: absolute;
        top: 20;
        left: 0;
        width:1350px!important;
        height: 500px;
        object-fit: fill;
      
    }
</style>
<div class="search-background" >
    <h1 class="display-4"> &emsp;Welcome</h1>
</div>
