@{
    ViewData["Title"] = "Home Page";
}
<style>
    .search-background {
        /* Ensure that the relative URL used is from your CSS file to the target image! */
        background: url('/images/TrackBugs1.jpg');
        background-size: 100% auto;
        /*background- center;*/
        background-repeat: no-repeat;
       /* height: 40vh;*/
        position: absolute;
        top: 20;
        left: 0;
        width:1350px;
        height: 500px;
    }
</style>
<div class="search-background">
    <h1 class="display-4"> &emsp;Welcome</h1>
</div>
